@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  background-color: #1e252b;
  color: white;
}

.newsList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 63vw;
}

.newsItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: decimal;
  background-color: #262d34;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.bottomCard {
  display: flex;
  gap: 1rem;
}

.points {
  /* flex: 1; */
  margin-left: auto;
}

.mainPage {
  display: flex;
}

.leftMenu {
  margin: 1rem;
  padding: 1.75rem;
  width: 19vw;
  height: fit-content;
  background-color: #262d34;
  border-radius: 10px;
  /* font-weight: 100; */
}

.leftMenu li {
  border-radius: 5px;
  text-align: right;
  list-style: none;
  font-size: smaller;
  margin-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.leftListItem1 {
  background: linear-gradient(
    90deg,
    rgb(31, 28, 209) 0%,
    rgba(255, 255, 255, 0) 65%,
    rgba(255, 255, 255, 0) 100%
  );
}

.leftListItem2 {
  background: linear-gradient(
    90deg,
    rgb(115, 233, 61) 0%,
    rgba(255, 255, 255, 0) 65%,
    rgba(255, 255, 255, 0) 100%
  );
}

.leftListItem3 {
  background: linear-gradient(
    90deg,
    rgb(170, 25, 206) 0%,
    rgba(255, 255, 255, 0) 65%,
    rgba(255, 255, 255, 0) 100%
  );
}

.leftListItem4 {
  background: linear-gradient(
    90deg,
    rgba(255, 136, 0, 1) 0%,
    rgba(255, 255, 255, 0) 65%,
    rgba(255, 255, 255, 0) 100%
  );
}

.leftListItem5 {
  background: linear-gradient(
    90deg,
    rgb(255, 51, 0) 0%,
    rgba(255, 255, 255, 0) 65%,
    rgba(255, 255, 255, 0) 100%
  );
}

.rightMenu {
  margin: 1rem;
  padding: 1.75rem;
  width: 19vw;
  height: fit-content;
  background-color: #262d34;
  border-radius: 10px;
  font-weight: 200;
}

.rightMenu li {
  font-size: smaller;
  margin-bottom: 0.5rem;
}

.header {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0;
  height: 10vh;
  width: 100vw;
  background-color: #262d34;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  cursor: pointer;
}

.navLinks li {
  transition: all 0.2s ease-in;
}

.navLinks li:hover {
  transform: scale(1.05);
  color: #0cc0df;
}

#searchInput {
  border-radius: 10px;
  border: none;
  gap: 1rem;
  padding: 0 1rem;
  background-color: #2c353d;
  font-size: 1.2rem;
  width: 20vw;
  color: #0cc0df;
}

::placeholder {
  color: #0cc0df;
  font-style: italic;
}

button {
  padding: 0 1rem;
  background-color: #2c353d;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
button:hover {
  color: #0cc0df;
}

.logo {
  font-size: 1.4rem;
  color: #0cc0df;
  font-weight: 800;
  transition: all 5s ease-in;
}

.logo:hover {
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
    0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}

.signIn {
  color: #0cc0df;
  cursor: pointer;
}

.itemURL {
  font-size: x-small;
  color: #0cc0df;
}

.smallDetails {
  font-size: smaller;
  font-weight: 200;
}
.points {
  font-size: smaller;
  font-weight: 200;
}

.like {
  color: #0cc0df;

  /* text-shadow: 0 0 0 #0cc0df; */
  /* display: inline-block; */
  float: right;
  cursor: pointer;
}

@media screen and (max-width: 1085px) {
  .navLinks {
    display: none;
  }
}

@media screen and (max-width: 790px) {
  .leftMenu {
    display: none;
  }
  .newsList {
    flex: 1;
  }
}

@media screen and (max-width: 615px) {
  .rightMenu {
    display: none;
  }

  .newsList {
    width: 100vw;
  }
  .signIn {
    display: none;
  }
  .newsItem {
    margin: 0.5rem 0;
    border-radius: 0;
  }
}

/* Pagination */

.pagination-nav {
  margin: 2rem 0;
}

.pagination-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: inherit;
}

.pagination-list li {
  padding: 0.75rem;
  border-color: #fff;
  font-size: 1rem;
}

.pagination-list li:hover {
  color: #0cc0df;
  font-weight: 800;

  /* background-color: #0cc0df;
  border-radius: 50%;
  border: none; */
}

/* footer */
footer {
  border-top: 1px solid;
  border-top-color: #0cc0df;
  width: 96vw;
  margin: 0 auto;
}
.footer {
  padding: 0.5rem 0;
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer img {
  height: 6rem;
}

.social {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
  padding-top: 1rem;
  justify-content: center;
}

#footer-p {
  font-family: "sofia";
  text-align: center;
  color: #0cc0df;
}

.nav-foot a:hover {
  font-size: 1.01em;
  text-decoration: underline;
}

@keyframes burst {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(var(--dx), var(--dy)) scale(0);
    opacity: 0;
  }
}

.heart {
  animation: burst 2s ease-out forwards;
}

.page-item.active .page-link {
  padding: 0.75rem;
  /* border: solid #0cc0df; */
  border-radius: 10px;
  border-bottom: 2px solid #0cc0df;
  border-top: 2px solid #0cc0df;
}
